@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("images/background_fnaf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(241, 8, 8);
  overflow: hidden;
}

.fullscreen-gif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fullscreen-gif img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  width: 100%;
  height: 100%;
}

p {
  font-family: "Zen Dots", cursive;
  font-size: 27px;
}

.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.top-row {
  height: 35%;
  display: flex;
}

.bottom-row {
  height: 65%;
  display: flex;
}

.arrows {
  width: 20%;
}

.FNAF-logo {
  width: 60%;
}

.photos {
  width: 40%;
}

.info-photo1,
.info-photo2 {
  width: 50%;
  display: flex;
}

.info-box {
  width: 60%;
}

.clickable1:hover {
  cursor: grab;
  transform: scale(1.04);
}

.clickable1:active {
  transform: scale(0.98);
}

.clickable2 {
  transition: transform 0.18s ease;
}

.clickable2:hover {
  cursor: crosshair;
  transform: scale(1.05) rotateY(180deg);
}

.clickable2:active {
  transform: scale(0.87);
}

.clickable3:hover {
  cursor: pointer;
  filter: drop-shadow(12px 12px 12px #000000);
  transform: rotate(4deg) translateY(-4px) scale(1.2);
}

.clickable3:active {
  transform: scale(0.92);
  filter: drop-shadow(0px 0px 4px #ffffff);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 700px) {
  .top-row {
    height: 30%;
  }

  .arrows {
    width: 25%;
  }

  .FNAF-logo {
    width: 50%;
  }

  .bottom-row {
    height: 70%;
    display: block;
  }

  .info-photo1,
  .info-photo2 {
    width: 100%;
    height: 50%;
  }

  .photos {
    width: 100%;
    height: 95%;
  }

  .info-box p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  img {
    object-fit: contain;
  }

  .top-row {
    height: 15%;
  }

  .bottom-row {
    height: 85%;
  }

  .info-photo1,
  .info-photo2 {
    display: block;
  }

  .photos,
  .info-box {
    width: 100%;
    height: 50%;
  }

  .info-box p {
    font-size: 12px;
  }
}